@*
    Copyright (c) 2019, Raphael Beck. All rights reserved.
    Use of this source code is governed by the BSD 3-Clause license that can be found in the repository root directory's LICENSE file.
*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
